form {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    border: 1px solid #ccc;
    padding: 6px;
    outline: none;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    min-width: 10vw;
    margin: 10px;
}

.compatibility .nagegator {
    font-size: 11px;
    float: left;
    margin: 5px;
}
.subtitle {
    font-size: 18px;
}
select {
    width: 268px;
    padding: 5px;
    padding-right: 30px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 34px;
    background: url(../icons/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 244px;
}
textarea {
  width: 90%;
  height: 3em;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}